@import "tailwindcss";

@font-face {
  font-family: 'Bdogrotesk';
  src: url('/fonts/BDOGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Bdogrotesk Mono';
  src: url('/fonts/BDOGrotesk-Bold.woff2') format('woff2');
  font-weight: 500;
}

:root {
  --background: #fff9f0;
  --foreground: #000000;
  --font-bdogrotesk: 'Bdogrotesk', sans-serif;
  --font-bdogrotesk-mono: 'Bdogrotesk Mono', monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bdogrotesk);
}
